$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;


$font-h1:48px;
$font-h2:36px;
$font-h3:28px;
$font-body:18px;
$font-small:16px;
$font-button:20px;


$weight-bold:700;
$weight-semi-bold:600;
$weight-regular:400;