$color-black: #0A0A0A;
$color-dark-gray:#1A1A1A;
$color-blue-primary:#007BFF;
$color-blue-dark:#003366;
$color-white:#ffff;
$color-light-gray:#cccc;

//Gradient
$gradient-blue: linear-gradient(90deg, #003366 0%, #007BFF 100%);

//shadow
$shadow-blue: 0 4px 15px rgba(0, 123, 255, 0.3);